<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Staging</key>
	<dict>
		<key>BaseURL</key>
		<string>http://bor-eventapp.agilecollab.com</string>
		<key>clientId</key>
		<string>kmgfcwb6gbdOQAr9YGhpBRI0RXQAymeJzTqB3h95</string>
		<key>clientSecret</key>
		<string>wAhdIPG7ZU5ah7bdCc1joCukzMwmhbYKAY0BnD8nRoIDInry84Gz8jZEM3cm7RgSejU3aDtMNF0yx9YU7z5x00JYcxpEo24sjV8kL4mhGs9jjb4OYfgah2o3q3HUK2On</string>
		<key>grantType</key>
		<string>password</string>
		<key>userName</key>
		<string>appuser@bornetsol.com</string>
		<key>userPassword</key>
		<string>@11janbor$1</string>
		<key>s3BucketAccessKeyId</key>
		<string>AKIAJKVOCNTSFWKE7WSQ</string>
		<key>s3SecretAccessKey</key>
		<string>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</string>
		<key>s3BucketName</key>
		<string>reach</string>
		<key>s3Path</key>
		<string>https://reach.s3.amazonaws.com/</string>
		<key>s3PoolId</key>
		<string>ca-central-1:0af09558-a648-4f55-bfb7-2651a5d2259f</string>
		<key>nexmoApiKey</key>
		<string>620fcee4</string>
		<key>nexmoSecretKey</key>
		<string>s0yUhVqq7QrlsjEa</string>
		<key>termsAndConditions</key>
		<string>http://bor-eventapp.agilecollab.com/api/app/terms-and-conditions/</string>
		<key>privacyPolicy</key>
		<string>http://bor-eventapp.agilecollab.com/api/app/privacy-policy/</string>
		<key>aboutUs</key>
		<string>http://bor-eventapp.agilecollab.com/api/app/about-us/</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>BaseURL</key>
		<string>https://reachtheparty.info</string>
		<key>clientId</key>
		<string>kmgfcwb6gbdOQAr9YGhpBRI0RXQAymeJzTqB3h95</string>
		<key>clientSecret</key>
		<string>wAhdIPG7ZU5ah7bdCc1joCukzMwmhbYKAY0BnD8nRoIDInry84Gz8jZEM3cm7RgSejU3aDtMNF0yx9YU7z5x00JYcxpEo24sjV8kL4mhGs9jjb4OYfgah2o3q3HUK2On</string>
		<key>grantType</key>
		<string>password</string>
		<key>userName</key>
		<string>bor_appuser@borevent.com</string>
		<key>userPassword</key>
		<string>15@bor_5#eventapp</string>
		<key>s3BucketAccessKeyId</key>
		<string>AKIAJKVOCNTSFWKE7WSQ</string>
		<key>s3SecretAccessKey</key>
		<string>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</string>
		<key>s3BucketName</key>
		<string>reach</string>
		<key>s3Path</key>
		<string>https://reach.s3.amazonaws.com/</string>
		<key>s3PoolId</key>
		<string>ca-central-1:0af09558-a648-4f55-bfb7-2651a5d2259f</string>
		<key>nexmoApiKey</key>
		<string>620fcee4</string>
		<key>nexmoSecretKey</key>
		<string>s0yUhVqq7QrlsjEa</string>
		<key>termsAndConditions</key>
		<string>http://reachtheparty.info/api/app/terms-and-conditions/</string>
		<key>privacyPolicy</key>
		<string>http://reachtheparty.info/api/app/privacy-policy/</string>
		<key>aboutUs</key>
		<string>http://reachtheparty.info/api/app/about-us/</string>
	</dict>
	<key>Development</key>
	<dict>
		<key>BaseURL</key>
		<string>http://172.16.13.249:9090</string>
		<key>clientId</key>
		<string>kmgfcwb6gbdOQAr9YGhpBRI0RXQAymeJzTqB3h95</string>
		<key>clientSecret</key>
		<string>wAhdIPG7ZU5ah7bdCc1joCukzMwmhbYKAY0BnD8nRoIDInry84Gz8jZEM3cm7RgSejU3aDtMNF0yx9YU7z5x00JYcxpEo24sjV8kL4mhGs9jjb4OYfgah2o3q3HUK2On</string>
		<key>grantType</key>
		<string>password</string>
		<key>userName</key>
		<string>appuser@_netsol.com</string>
		<key>userPassword</key>
		<string>@admin123</string>
		<key>s3BucketAccessKeyId</key>
		<string>AKIAJKVOCNTSFWKE7WSQ</string>
		<key>s3SecretAccessKey</key>
		<string>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</string>
		<key>s3BucketName</key>
		<string>reach</string>
		<key>s3Path</key>
		<string>http://reach.s3.amazonaws.com/</string>
		<key>s3PoolId</key>
		<string>ca-central-1:0af09558-a648-4f55-bfb7-2651a5d2259f</string>
		<key>nexmoApiKey</key>
		<string>620fcee4</string>
		<key>nexmoSecretKey</key>
		<string>s0yUhVqq7QrlsjEa</string>
		<key>termsAndConditions</key>
		<string>http://172.16.16.139:9090/api/app/terms-and-conditions/</string>
		<key>privacyPolicy</key>
		<string>http://172.16.16.139:9090/api/app/privacy-policy/</string>
		<key>aboutUs</key>
		<string>http://172.16.16.139:9090/api/app/about-us/</string>
	</dict>
	<key>QC</key>
	<dict>
		<key>BaseURL</key>
		<string>http://bor-eventapp.netsol.in</string>
		<key>clientId</key>
		<string>kmgfcwb6gbdOQAr9YGhpBRI0RXQAymeJzTqB3h95</string>
		<key>clientSecret</key>
		<string>wAhdIPG7ZU5ah7bdCc1joCukzMwmhbYKAY0BnD8nRoIDInry84Gz8jZEM3cm7RgSejU3aDtMNF0yx9YU7z5x00JYcxpEo24sjV8kL4mhGs9jjb4OYfgah2o3q3HUK2On</string>
		<key>grantType</key>
		<string>password</string>
		<key>userName</key>
		<string>appuser@bornetsol.com</string>
		<key>userPassword</key>
		<string>@11janbor$1test</string>
		<key>s3BucketAccessKeyId</key>
		<string>AKIAJKVOCNTSFWKE7WSQ</string>
		<key>s3SecretAccessKey</key>
		<string>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</string>
		<key>s3BucketName</key>
		<string>reach</string>
		<key>s3Path</key>
		<string>http://reach.s3.amazonaws.com/</string>
		<key>s3PoolId</key>
		<string>ca-central-1:0af09558-a648-4f55-bfb7-2651a5d2259f</string>
		<key>nexmoApiKey</key>
		<string>607e0cd7</string>
		<key>nexmoSecretKey</key>
		<string>clBZz6mukJJIOg68</string>
		<key>termsAndConditions</key>
		<string>http://bor-eventapp.netsol.in/api/app/terms-and-conditions/</string>
		<key>privacyPolicy</key>
		<string>http://bor-eventapp.netsol.in/api/app/privacy-policy/</string>
		<key>aboutUs</key>
		<string>http://bor-eventapp.netsol.in/api/app/about-us/</string>
	</dict>
</dict>
</plist>
